.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  width: 100%;
  height: calc(100% - 100px);
  overflow: auto;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 40px 20px;
}

.card {
  width: 100%;
  max-width: 1280px;
  background: #ffffff;
  box-shadow: 0px 10px 75px rgba(38, 44, 72, 0.05);
  border-radius: 12px;
  padding: 25px;
  margin: 15px 0;
  align-content: space-between;
}

.expand {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  margin-left: 15px;
}

.card h3 {
  color: var(--text-primary);
  font-weight: 600;
  line-height: 150%;
}

.card .hidenInfo h3 {
  margin: 20px 0;
}

.shownInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.shownInfo div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.shownInfo div .badge {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #006666;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 12px;
}

.shownInfo span {
  color: var(--text-secondary);
}

.hidenInfo {
  margin-top: 20px;
  border-top: 1px solid #f0f0f5;
}

.hidenInfo h5 {
  color: var(--text-primary);
  font-size: 15px;
  font-family: "poppins";
  font-weight: 500;
  line-height: 24px;
  margin: 7px 10px;
}

.hidenInfo section div,
.demandCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.separator {
  height: 1px;
  width: 100%;
  background-color: #f0f0f5;
  margin-top: 15px;
}

.actionBtn {
  width: 35px;
  height: 35px;
  margin: 0 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f5f8;
}

.modal {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 120px;
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 9999;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  position: relative;
  width: 550px;
  max-height: 600px;
  overflow: auto;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 10px 75px rgba(38, 44, 72, 0.05);
  background-color: #ffffff;
  z-index: 99;
}

.overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 9;
  backdrop-filter: blur(15px);
}

.form {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.row {
  display: grid;
  grid-template-columns: 3fr 7fr;
  margin-top: 20px;
}

.subRow {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px 0;
}

.form section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.form section div {
  display: flex;
  flex-direction: column;
}

.label {
  color: var(--text-secondary);
  font-size: 13px;
  margin: 7px 10px;
}

.answer {
  color: var(--text-primary);
  font-size: 13px;
  margin: 7px 10px;
}
.form button {
  position: relative;
  left: 190px;
  background-color: #ffffff;
}

.subscriber {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 20px 10px 0;
}

.hidenInfo p {
  color: var(--text-secondary);
  font-family: "poppins";
  line-height: 18px;
  margin: 10px 0;
}
