.container {
  min-height: 100vh;
  flex-direction: column;
  height: 100vh;
  display: flex;
}

.main {
  width: 100%;
  height: calc(100% - 100px);
  display: grid;
  grid-template-columns: 350px 1fr;
  background-color: white;
}

.leftSide {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #f0f0f5;
  padding: 40px 10px;
  position: sticky;
  top: 100px;
}

/* to all div under leftSide */
/* .leftSide > div {
  height: 80px;
  width: 80px;
  border-radius: 40px;
} */

.leftSide span {
  margin-left: 10px;
  font-family: "poppins";
}

/* to all div under leftSide except the first one */
.leftSide > div ~ div {
  height: 20px;
  width: 20px;
}

.leftSide h2 {
  margin: 20px 0;
}
.leftSide button {
  width: 100%;
  padding: 10px 20px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 5px;
}

.leftSide button:hover {
  background-color: #f0f0f5;
}

.avatar {
  border-radius: 50%;
}

.fileBrowser {
  width: 80px;
  height: 80px;
  z-index: 9;
  opacity: 0;
  cursor: pointer;
  border-radius: 50%;
}

.descriptionContainer {
  background-color: #e5e5e5;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.selected {
  background-color: #f0f0f5 !important;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 0 50px 50px;
  height: 100%;
  overflow: auto;
}
.separator {
  width: 100%;
  height: 1px;
  background-color: #f5f5f7;
  margin: 10px 0;
}
.form {
  display: flex;
  flex-direction: column;
}

.editBtn {
  width: 150px;
  height: 50px;
  border-radius: 12px;
  background-color: #066;
  color: #ffffff;
  margin-top: 10px;
  border-radius: 30px;
}

.main label {
  font-family: "poppins";
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: #2a2b30;
  margin-bottom: 10px;
}

.main textarea {
  height: auto;
}

.formContainer input,
.main textarea {
  background: #ffffff;
  border: 1px solid #ced5de;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-radius: 8px;
  resize: none;
  width: 500px;
  font-family: "poppins";
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 16px;
  color: #000000;
}

.eyeBtn {
  width: 35px;
  height: 35px;
  background-color: #fff;
  position: absolute;
  top: 427px;
  right: 645px;
}

.main input:focus,
.main textarea:focus {
  box-shadow: 0px 0px 0px 5px rgba(0, 102, 102, 0.1);
  border-color: #006666;
}

.preview {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 40px;
  overflow: hidden;
}

.previewImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
