.container {
  min-height: 100vh;
  flex-direction: column;
  height: 100vh;
  display: flex;
}

.main {
  width: 100%;
  height: calc(100% - 100px);
  overflow: auto;
  flex-direction: row;
  display: flex;
  background-color: #ffffff;
}

.leftSide {
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid rgba(0, 102, 102, 0.1);
  padding: 20px 0;
  position: absolute;
}

/* to all div under leftSide */
.leftSide > div {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  background-color: #e5e5e5;
}

.leftSide span {
  margin-left: 10px;
  font-family: "Sofia Pro";
  font-size: 16px;
}

/* to all div under leftSide except the first one */
.leftSide > div ~ div {
  height: 20px;
  width: 20px;
}

.leftSide h2 {
  margin: 20px 0;
}
.leftSide button {
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 102, 102, 0.1);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.formContainer {
  width: 100%;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px;
  margin-left: 350px;
}

.form {
  display: flex;
  flex-direction: column;
}

.formContainer button {
  width: 150px;
  height: 50px;
  border-radius: 12px;
  background-color: #066;
  color: #ffffff;
  align-self: center;
}

.main label {
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #2a2b30;
  margin-bottom: 10px;
}

.main textarea {
  height: auto;
}

.main input,
.main textarea {
  background: #ffffff;
  border: 1px solid #ced5de;
  box-sizing: border-box;
  border-radius: 12px;
  margin-bottom: 15px;
  /* height: 50px; */
  width: 500px;
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  padding: 16px;
  color: #000000;
}

.main input:focus,
.main textarea:focus {
  box-shadow: 0px 0px 0px 5px rgba(0, 102, 102, 0.1);
  border-color: #006666;
}
